div.fenxi-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/sl03/1.jpg");
}
div.fenxi-container div.fenxi-box {
  width: 100%;
  height: 50%;
  display: flex;
}
div.fenxi-container div.fenxi-box div.box-box {
  overflow: hidden;
  position: relative;
  padding: 0.625rem 1.25rem;
  height: calc(100% - 1.25rem);
}
div.fenxi-container div.fenxi-box div.box-box p.title {
  font-size: 1.32vw;
  color: #ffffff;
  font-weight: bold;
  line-height: 3.4375rem;
}
div.fenxi-container div.fenxi-box div.box-box div.charts {
  bottom: 0;
  display: flex;
  position: absolute;
  margin-top: 4.6875rem;
  border-radius: 0.3125rem;
  width: calc(100% - 1.625rem);
  height: calc(100% - 5.0625rem);
  border: 0.1875rem solid #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
}
div.fenxi-container div.fenxi-box div.box-box div.charts div.charts-box {
  height: 100%;
  width: 33.33%;
  margin-top: -1.25rem;
}
div.fenxi-container div.fenxi-box div.box-box.box-l {
  width: calc(65% - 2.5rem);
}
div.fenxi-container div.fenxi-box div.box-box.box-l div.charts div.charts-box {
  width: 33.33%;
}
div.fenxi-container div.fenxi-box div.box-box.box-r {
  width: calc(35% - 3.75rem);
}
div.fenxi-container div.fenxi-box div.box-box.box-r div.charts div.charts-box {
  width: 100%;
}
div.fenxi-container div.fenxi-box div.box-box.box-b {
  display: flex;
  width: calc(100% - 3.75rem);
  height: calc(100% - 2.5rem);
}
div.fenxi-container div.fenxi-box div.box-box.box-b div.box-b-b {
  height: 100%;
}
div.fenxi-container div.fenxi-box div.box-box.box-b div.box-b-b div.charts-box {
  width: 100%;
}
div.fenxi-container div.fenxi-box div.box-box.box-b div.box-b-b.box-b-b-l {
  width: 35%;
}
div.fenxi-container div.fenxi-box div.box-box.box-b div.box-b-b.box-b-b-r {
  width: 65%;
}
