header.el-header {
  padding: 0;
  width: 100%;
  height: 5.3125rem;
  display: flex;
  position: relative;
  background-color: #545c64;
  justify-content: space-between;
}
header.el-header * {
  white-space: nowrap;
}
header.el-header div.title-box {
  z-index: 20;
  width: 17.5rem;
  height: 100%;
  display: flex;
  background-color: #545c64;
}
header.el-header div.title-box span.title {
  margin: auto;
  font-size: 1.5rem;
  color: #ffffff;
}
header.el-header div.tabs-box {
  left: 50%;
  right: 50%;
  z-index: 10;
  height: 100%;
  width: 31.25rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-color: #545c64;
}
header.el-header div.tabs-box a.tab {
  margin: 0 1.25rem;
  font-size: 1.25rem;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  white-space: nowrap;
  background-color: transparent;
}
header.el-header div.tabs-box a.tab:hover {
  background-color: #79bbff;
}
header.el-header div.tabs-box a.tab.active {
  background-color: #79bbff;
}
header.el-header div.right-box {
  z-index: 20;
  width: 17.1875rem;
  height: 100%;
  display: flex;
  background-color: #545c64;
}
header.el-header div.right-box a {
  margin: auto;
  color: #ffffff;
  font-size: 1.125rem;
}
