
div.screen-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img.main-bg {
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    div#effect {
        z-index: -1;
        background-color: transparent;
    }

    div.main-head {
        height: 10vh;
        display: flex;
        position: relative;
        padding: 1vh 0.5vw;
        align-items: center;
        width: calc(100% - 1vw);
        justify-content: flex-end;

        div.title-box {
            display: flex;
            cursor: pointer;
            align-items: center;
            white-space: nowrap;

            img.title-img {
                height: 3.4375rem;
                position: absolute;
            }

            span.site-title {
                font-size: 1.4vw;
                display: flex;
                color: #0EFFFF;
                font-weight: bold;
                align-items: center;
                margin-left: 3.75rem;
            }

            span.site-desc {
                font-size: 1.5rem;
                color: #ffffff;
                margin-left: 1.5625rem;
            }
        }
        
        div.head-container {
            width: 97%;
            height: 10vh;
            margin: 0 auto;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: space-between;
            border-bottom: 6px solid #0083EE;
        }

        div.head-box {
            width: 10vw;
            height: 3vw;
            display: flex;
            align-items: center;
            padding:  0 0.75vw;
            margin-left: 2.8125rem;
            border-radius: 0.3125rem;
            justify-content: space-between;
            border: 0.3125rem solid #0083EE;
            background-color: rgba(255,255,255,0.25);

            span.title {
                color: #0EFFFF;
                font-size: 1.24vw;
            }

            span.number {
                float: right;
                font-size: 1.24vw;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }

    div.info-box {
        width: auto!important;

        span.number {
            margin-left: 0.9375rem;
            font-weight: unset!important;
        }
    }

    div.main-body {
        width: 100%;
        height: calc(100% - 7.8125rem);

        div.body-line {
            height: 50%;
            padding: 0 1vw;
            display: flex;
            width: calc(100% - 2vw);
            justify-content: space-between;

            div.line-container {
                width: 33.33%;
                height: 100%;
                display: flex;

                div.list-box {
                    width: 95%;
                    height: 90%;
                    margin: auto;

                    div.box-head {
                        width: 100%;
                        height: 6.5vh;
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: center;

                        img {
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }

                        p.head-title {
                            color: #ffffff;
                            font-size: 1.3vw;
                            text-align: center;
                        }
                    }

                    div.box-body {
                        width: 100%;
                        display: grid;
                        overflow: hidden;
                        position: relative;
                        height: calc(100% - 2.8vw);

                        img {
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }

                        div.canvas-box {
                            width: 100%;
                            height: 90%;
                            margin: auto;
                        }

                        ul.list-box {
                            width: 90%;
                            height: 90%;
                            margin: auto;
                            overflow: hidden;
                            overflow-y: scroll;
                            
                            li.list-item {
                                font-size: 1vw;
                                margin: 2vh 0;
                                cursor: pointer;
                                color: #00c3ff;
                                text-align: center;
                                font-weight: bold;
                                letter-spacing: 0.125rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.el-table {
    --el-table-bg-color: transparent;
    --el-table-tr-bg-color: transparent;
    --el-table-border-color: transparent;
    --el-table-header-bg-color: transparent;
    --el-table-row-hover-bg-color: transparent;
}

div.table {
    width: 90%!important;
    height: 90%;
    margin: auto;

    * {
        color: #ffffff;
        text-align: center;
    }

    col {
        width: 11.25rem!important;
    }

    td,tr {
        width: 11.25rem!important;
    }

    table.el-table__body {
        margin-top: 0.625rem;
    }

    table.el-table__header,table.el-table__body {
        width: unset!important;
    }
}