div.screen-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.screen-container img.main-bg {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
div.screen-container div#effect {
  z-index: -1;
  background-color: transparent;
}
div.screen-container img.line {
  left: 50%;
  top: 5.6563rem;
  z-index: 1;
  width: 94.6%;
  right: 50%;
  height: 3.4375rem;
  object-fit: cover;
  position: absolute;
  transform: translateX(-50%);
}
div.screen-container div.main-head {
  height: 6.25rem;
  display: flex;
  padding: 0.625rem 0.9375rem;
  position: relative;
  align-items: center;
  width: calc(100% - 1.875rem);
  justify-content: flex-end;
}
div.screen-container div.main-head div.title-box {
  display: flex;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
}
div.screen-container div.main-head div.title-box img.title-img {
  height: 3.4375rem;
  position: absolute;
}
div.screen-container div.main-head div.title-box span.site-title {
  font-size: 1.875rem;
  margin-top: -0.1875rem;
  display: flex;
  margin-left: 3.75rem;
  color: #0EFFFF;
  font-weight: bold;
  align-items: center;
}
div.screen-container div.main-head div.title-box span.site-desc {
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 1.5625rem;
}
div.screen-container div.main-head div.head-container {
  width: 97%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid #0083EE;
}
div.screen-container div.main-head div.head-box {
  width: 12.5rem;
  height: 3.6875rem;
  padding: 0 0.9375rem;
  margin-left: 2.8125rem;
  border-radius: 0.3125rem;
  border: 0.3125rem solid #0083EE;
  background-color: rgba(255, 255, 255, 0.25);
}
div.screen-container div.main-head div.head-box span.title {
  font-size: 1.5rem;
  color: #0EFFFF;
  line-height: 4.0625rem;
}
div.screen-container div.main-head div.head-box span.number {
  float: right;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 4.0625rem;
}
div.screen-container div.info-box {
  width: auto!important;
}
div.screen-container div.info-box span.number {
  margin-left: 0.9375rem;
  font-weight: unset!important;
}
div.screen-container div.main-body {
  width: 100%;
  height: calc(100% - 7.8125rem);
}
div.screen-container div.main-body div.body-line {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.screen-container div.main-body div.body-line div.line-container {
  width: 33.33%;
  height: 100%;
  display: flex;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box {
  width: 86%;
  height: 90%;
  margin: auto;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-head {
  width: 100%;
  height: 4.0625rem;
  position: relative;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-head img {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-head p.head-title {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 4.0625rem;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-body {
  width: 100%;
  display: grid;
  overflow: hidden;
  position: relative;
  height: calc(100% - 4.0625rem);
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-body img {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-body div.canvas-box {
  width: 100%;
  height: 90%;
  margin: auto;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-body ul.list-box {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
}
div.screen-container div.main-body div.body-line div.line-container div.list-box div.box-body ul.list-box li.list-item {
  margin: 1.25rem 0;
  cursor: pointer;
  color: #00c3ff;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.125rem;
}
div.el-table {
  --el-table-bg-color: transparent;
  --el-table-tr-bg-color: transparent;
  --el-table-border-color: transparent;
  --el-table-header-bg-color: transparent;
  --el-table-row-hover-bg-color: transparent;
}
div.table {
  width: 90%!important;
  height: 90%;
  margin: auto;
}
div.table * {
  color: #ffffff;
  text-align: center;
}
div.table col {
  width: 11.25rem !important;
}
div.table td,
div.table tr {
  width: 11.25rem !important;
}
div.table table.el-table__body {
  margin-top: 0.625rem;
}
div.table table.el-table__header,
div.table table.el-table__body {
  width: unset!important;
}
