
div.page-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/sl03/1.jpg");

    ul.class-list {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        li.class-list-item {
            width: 45%;
            height: 5.3125rem;
            cursor: pointer;
            font-size: 2.25rem;
            color: #ffffff;
            line-height: 5.3125rem;
            overflow: hidden;
            text-align: center;
            border-radius: 0.5rem;
            white-space: nowrap;
            margin-bottom: 5rem;
            background-color: rgba(255, 255, 255, 0.35);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    ul.class-list {
        flex-direction: column-reverse;

        li.class-list-item {
            width: 60%;
            height: 3.75rem;
            font-size: 1.5rem;
            line-height: 3.75rem;
            margin-bottom: 2.5rem;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

@media screen and (max-width: 480px) {
    ul.class-list {
        margin-bottom: 0;
        flex-direction: column;
        justify-content: flex-start;

        li.class-list-item {
            width: 90%;
            height: 2.5rem;
            font-size: 1rem;
            margin-bottom: 0;
            line-height: 2.5rem;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}