div.score-container {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
  height: calc(100% - 1.25rem);
}
div.score-container div.topbar {
  height: 3.75rem;
  padding: 0 0.625rem;
  display: flex;
  width: calc(100% - 1.25rem);
  background-color: #ffffff;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #dddddd;
}
div.score-container div.topbar div.bar-box {
  display: flex;
}
div.score-container div.topbar div.bar-box div.icon-box {
  width: 3.75rem;
  height: 3.75rem;
  display: grid;
}
div.score-container div.topbar div.bar-box div.icon-box i,
div.score-container div.topbar div.bar-box div.icon-box svg {
  width: 1.75rem;
  height: 1.75rem;
  margin: auto;
  color: #545c64;
}
div.score-container div.topbar div.bar-box div.icon-box a {
  color: #545c64;
  line-height: 3.75rem;
}
div.score-container div.topbar span.title {
  line-height: 3.75rem;
}
div.score-container div.table {
  width: 75vw;
  margin-top: 2.1875rem;
  margin: 1.25rem auto;
  animation: artice 0.3s;
}
div.score-container div.table * {
  animation: artice 0.3s;
}
div.score-container div.table thead tr {
  height: 3.75rem;
}
div.score-container div.table thead tr th {
  font-size: 1rem;
  background-color: #F2F3F5;
}
div.score-container div.table tbody tr {
  height: 3.125rem;
}
div.score-container div.table tbody tr th {
  font-size: 1rem;
}
button.send {
  height: 3.4375rem;
  width: 75vw;
  display: block;
  font-size: 1rem;
  margin: 1.25rem auto;
}
div.upload-boxS {
  width: 75vw;
  overflow: hidden;
  position: relative;
  margin: 1.5625rem auto;
}
div.upload-boxS input[type="file"] {
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 6.25rem;
  position: absolute;
}
div.upload-boxS button {
  margin: 0;
}
div.button-sheet {
  width: 100%;
  height: 3.4375rem;
  padding: 0 1.5625rem;
  display: flex;
  margin-top: 0.9375rem;
  align-items: center;
}
div.button-sheet button {
  width: 12.5rem;
  height: 2.8125rem;
  font-size: 1rem;
  overflow: hidden;
  margin-right: 0.9375rem;
}
div.button-sheet div.upload-box {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
div.button-sheet div.upload-box input[type="file"] {
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 6.25rem;
  position: absolute;
}
