
div.score-container {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 1.25rem;
    height: calc(100% - 1.25rem);

    div.topbar {
        height: 3.75rem;
        padding: 0 0.625rem;
        display: flex;
        width: calc(100% - 1.25rem);
        background-color: #ffffff;
        justify-content: space-between;
        border-bottom: 0.0625rem solid #dddddd;

        div.bar-box {
            display: flex;

            div.icon-box {
                width: 3.75rem;
                height: 3.75rem;
                display: grid;
    
                i,svg {
                    width: 1.75rem;
                    height: 1.75rem;
                    margin: auto;
                    color: #545c64;
                }

                a {
                    color: #545c64;
                    line-height: 3.75rem;
                }
            }
        }

        span.title {
            line-height: 3.75rem;
        }
    }

    div.table {
        width: 87.5rem;
        margin-top: 2.1875rem;
        margin: 1.25rem auto;
        animation: artice 0.3s;

        * {
            animation: artice 0.3s;
        }

        thead {
        
            tr {
                height: 3.75rem;
                th {
                    font-size: 1rem;
                    background-color: #F2F3F5;
                }
            }
        }

        tbody {
            tr {
                height: 3.125rem;  
                th {
                    font-size: 1rem;
                }
            }
        }
    }
}

button.send {
    height: 3.4375rem;
    width: 87.5rem;
    display: block;
    font-size: 1rem;
    margin: 1.25rem auto;
}

div.upload-boxS {
    width: 87.5rem;
    overflow: hidden;
    position: relative;
    margin: 1.5625rem auto;

    input[type="file"] {
        top: 0;
        right: 0;
        opacity: 0;
        font-size: 6.25rem;
        position: absolute;
    }

    button {
        margin: 0;
    }
}