div.task-container {
  width: 100%;
  height: calc(100%);
}
div.task-container img.main-bg {
  z-index: -9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.75) contrast(1.2);
}
div.task-container div.container-header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}
div.task-container div.container-header::before {
  content: '';
  width: 80%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/image/title_bg.png");
}
div.task-container div.container-header::before {
  top: 2px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
div.task-container div.container-header p.title {
  font-size: 36px;
  color: #0EFFFF;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  letter-spacing: 0.1em;
}
div.task-container div.container-body {
  width: 97%;
  margin: 0 auto;
  display: flex;
  margin-top: 35px;
  height: calc(100% - 135px);
  justify-content: space-between;
}
div.task-container div.container-body div.body-left {
  padding: 20px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  width: calc(20% - 100px);
  height: calc(100% - 70px);
  border: 2px solid #0EFFFF;
  min-width: calc(20% - 100px);
  justify-content: space-between;
}
div.task-container div.container-body div.body-left div.action-box {
  width: 98%;
  height: 145px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #0EFFFF;
}
div.task-container div.container-body div.body-left div.action-box div.head {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid #0EFFFF;
}
div.task-container div.container-body div.body-left div.action-box div.head span.name {
  display: flex;
  color: #0EFFFF;
  line-height: 45px;
  text-align: center;
  align-items: center;
}
div.task-container div.container-body div.body-left div.action-box div.head span.name::before {
  content: '';
  width: 5px;
  height: 14px;
  display: block;
  margin: 0 15px;
  background-color: #0EFFFF;
}
div.task-container div.container-body div.body-left div.action-box div.body {
  width: 100%;
  height: 100%;
}
div.task-container div.container-body div.body-left div.action-box div.body span {
  display: block;
  margin: 0 auto;
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
div.task-container div.container-body div.body-left div.button-box {
  width: 100%;
  height: 75px;
  position: relative;
}
div.task-container div.container-body div.body-left div.button-box img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
div.task-container div.container-body div.body-left div.button-box span.title {
  top: 25px;
  left: 165px;
  font-size: 18px;
  color: #0EFFFF;
  position: absolute;
}
div.task-container div.container-body div.body-right {
  padding: 20px;
  margin-left: 35px;
  border-radius: 5px;
  width: calc(100% - 50px);
  height: calc(100% - 70px);
  border: 2px solid #0EFFFF;
}
div.task-container div.container-body div.body-right div.right-box {
  width: 100%;
  padding: 10px 0;
  position: relative;
  height: calc(100% - 22.5px);
}
div.task-container div.container-body div.body-right div.right-box div.title-box {
  width: 97.8%;
  height: 145px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.task-container div.container-body div.body-right div.right-box div.title-box span.title {
  font-size: 38px;
  color: #0EFFFF;
  letter-spacing: 0.05em;
}
div.task-container div.container-body div.body-right div.right-box div.content-box {
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  overflow-y: scroll;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box {
  width: 100%;
  margin: auto;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.el-space {
  justify-content: center;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.list-item {
  width: 330px;
  height: 135px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  border: 2px solid #0EFFFF;
  background-color: rgba(15, 255, 255, 0.15);
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.list-item img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.list-item div.box {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.list-item div.box span.name {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}
div.task-container div.container-body div.body-right div.right-box div.content-box div.list-box div.list-item div.box svg {
  width: 38px;
  height: 38px;
  margin-top: 1px;
  margin-right: 20px;
}
