
div.task-container {
    width: 100%;
    height: calc(100%);

    img.main-bg {
        z-index: -9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        filter: brightness(0.75) contrast(1.2);
    }

    div.container-header {
        width: 100%;
        height: 6.25rem;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            width: 80%;
            height: 100%;
            display: block;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../../../assets/image/title_bg.png");
        }

        &::before {
            top: 0.125rem;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
        }

        p.title {
            font-size: 2.25rem;
            color: #0EFFFF;
            font-weight: 700;
            text-align: center;
            line-height: 6.25rem;
            letter-spacing: 0.1em;
        }
    }

    div.container-body {
        width: 97%;
        margin: 0 auto;
        display: flex;
        margin-top: 2.1875rem;
        height: calc(100% - 8.4375rem);
        justify-content: space-between;

        div.body-left {
            padding: 1.25rem;
            display: flex;
            border-radius: 0.3125rem;
            flex-direction: column;
            width: calc(20% - 6.25rem);
            height: calc(100% - 4.375rem);
            border: 0.125rem solid #0EFFFF;
            min-width: calc(20% - 6.25rem);
            justify-content: space-between;

            div.action-box {
                width: 98%;
                height: 9.0625rem;
                overflow: hidden;
                border-radius: 0.3125rem;
                border: 0.125rem solid #0EFFFF;

                div.head {
                    width: 100%;
                    height: 2.8125rem;
                    border-bottom: 0.125rem solid #0EFFFF;

                    span.name {
                        display: flex;
                        color: #0EFFFF;
                        line-height: 2.8125rem;
                        text-align: center;
                        align-items: center;

                        &::before {
                            content: '';
                            width: 0.3125rem;
                            height: 0.875rem;
                            display: block;
                            margin: 0 0.9375rem;
                            background-color: #0EFFFF;
                        }
                    }
                }

                div.body {
                    width: 100%;
                    height: 100%;

                    span {
                        display: block;
                        margin: 0 auto;
                        font-size: 1.75rem;
                        color: #ffffff;
                        font-weight: bold;
                        line-height: 6.25rem;
                        text-align: center;
                    }
                }
            }

            div.button-box {
                width: 100%;
                height: 4.6875rem;
                position: relative;

                img.bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                span.title {
                    top: 1.5625rem;
                    left: 10.3125rem;
                    font-size: 1.125rem;
                    color: #0EFFFF;
                    position: absolute;
                }
            }
        }

        div.body-right {
            padding: 1.25rem;
            margin-left: 2.1875rem;
            border-radius: 0.3125rem;
            width: calc(100% - 3.125rem);
            height: calc(100% - 4.375rem);
            border: 0.125rem solid #0EFFFF;

            div.right-box {
                width: 100%;
                padding: 0.625rem 0;
                position: relative;
                height: calc(100% - 1.4063rem);

                div.title-box {
                    width: 97.8%;
                    height: 9.0625rem;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span.title {
                        font-size: 2.375rem;
                        color: #0EFFFF;
                        letter-spacing: 0.05em;
                    }
                }

                div.content-box {
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    overflow: hidden;
                    position: absolute;
                    overflow-y: scroll;

                    div.list-box {
                        width: 100%;
                        margin: auto;
                        

                        div.el-space {
                            justify-content: center;
                        }

                        div.list-item {
                            width: 20.625rem;
                            height: 8.4375rem;
                            border-radius: 0.3125rem;
                            position: relative;
                            margin-bottom: 1.25rem;
                            border: 0.125rem solid #0EFFFF;
                            background-color: rgba(15, 255, 255,0.15);

                            img.bg {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                            }

                            div.box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                position: absolute;
                                align-items: center;
                                justify-content: center;

                                span.name {
                                    font-size: 1.5rem;
                                    color: #ffffff;
                                    font-weight: 700;
                                }
    
                                svg {
                                    width: 2.375rem;
                                    height: 2.375rem;
                                    margin-top: 0.0625rem;
                                    margin-right: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}